body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

header {
    background:rgb(253, 0, 127);
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background: #ff0055;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}